#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 10px 0px;
  margin-bottom: 10px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel-header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
.friends-screen__channel {
  margin: 25px 0px;
  border-bottom: var(--main-border);
  border-top: var(--main-border);
  padding: 25px 0px;
}
#friends-display-link {
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hidesplashScreen {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen {
  background-color: var(--대나무);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100x;
  animation: hidesplashScreen 0.5s ease-in-out forwards;
  animation-delay: 1s;
}
#아이콘 {
  color: white;
}

.판다얼굴 {
  width: 120px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
}

.판다 {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  display: flex;
}
.귀1 {
  left: -8px;
  top: 5px;
}
.귀2 {
  right: -8px;
  top: 5px;
}
